<div class="detail_history">

<% if @histories.users_id.to_i.eql?(current_user.id) %>
<h2>投稿内容を編集する</h2>
  <%= render :partial => "/common/make_history", :locals => { local_make_histories: @histories, local_path: detail_update_path } %>
<% else %>
<h2>編集が許可されていません。</h2>
<% end %>

</div>
