/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 参考にしたカラーパレット：https://flatuicolors.com/palette/defo */
:root {
  --main-color: #16a085;
  --sub-color:  #16a085;
  --sub-color-2: #d8fff7;
  --bg-color: #f9fff4;

}

 body{
 	margin: 20px;					/* bodyの外側の余白を指定する */
 	padding: 50px 10px 50px 10px;	/* bodyの内側余白を指定する(上:右:下:左) */
  color: #606060;
  background-color: #f9fff4;
 }
 body, textarea {
   font-family: 'メイリオ';
 }

 .Header {
 	position: fixed;	/* ヘッダーを固定する */
 	top: 0;				/* 上部から配置の基準位置を決める */
 	left: 0;			/* 左から配置の基準位置を決める */
 	width: 100%;		/* ヘッダーの横幅を指定する */
 	height: 70px;		/* ヘッダーの高さを指定する */
 	padding: 0px;		/* ヘッダーの余白を指定する(上下左右) */
 	background-color: var(--main-color);	/* ヘッダーの背景色を指定する */
 	color: #FFFFFF;		/* フォントの色を指定する */
 }

 a:link { color: var(--sub-color); text-decoration: none; }
 a:visited { color: var(--sub-color); text-decoration: none; }
 a:hover { color: var(sub-color-2); text-decoration: none; }
 a:active { color: var(sub-color-2); text-decoration: none; }

 .Header a:link { color: #FFFFFF; text-decoration: none; }
 .Header a:visited { color: #FFFFFF; text-decoration: none; }
 .Header a:hover { color: #F8E8E8; text-decoration: none; }
 .Header a:active { color: #ff8000; text-decoration: none; }


 .Contents {
 	width: 100%;		/* コンテンツの横幅を指定する */
 	overflow: auto; 	/* コンテンツの表示を自動に設定（スクロール） */
 }

.main_area {
  width: 80%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.update_form_field {
  width: 90%;
  height: 250px;

}

.header_left {
  font-size: 200%;
  padding: 10px;
  float: left;
}

.header_right {
  padding: 10px;
  text-align: right;
  float: right;
  /*padding: 5px;*/
}

.update_form th {
  background-color: var(--main-color);
  text-align: left;
  color: #FFFFFF;
  width: 130px;
}
.update_form td {
  background-color: var(--bg-color);
  text-align: left;
  width: 250px;
}

/************************** ラジオボタン１  **************************/


.stylish_radio input{
  display: none;
}
.stylish_radio label{
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.stylish_radio label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.stylish_radio label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.stylish_radio input[type="radio"]:checked + label {
	background-color: var(--main-color);
	color: #fff;
}

/************************** ラジオボタン２  **************************/

.stylish_category_radio input{
  display: none;
}

.stylish_category_radio label{
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
  height: 40px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}


.stylish_category_radio input[type="radio"]:checked + label {
	/* background-color: var(--main-color); */
	color: #fff;
}



.mypage_calender table, .mypage_calender td, .mypage_calender th {
  border: 1px #AAAAAA solid;
}

.mypage_calender th {
  width:85px;
  min-width: 50px;
}
.mypage_calender td {
  height: 80px;
  min-height: 50px;
  vertical-align: top;
}

.main_area table, .main_area td, .main_area th{
  border: none;
}


div.message {
  float: left;
}
.message {
    position: relative;
}
.message span.remark {
    display: none;
}
.message a:hover span.remark {
    font-size: 100%;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 5px; /* def:50px */
    left : -5px;
    width: 450px;
}

#history_box {
  float: left;
  margin: 10px;
  padding: 10px;
  border:#000000 solid 0px 2px 0px 2px;
  width: 500px;
  height: 700px;
  background-color: #FFFFFF;
}
#history {
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

.mypage_calender_box {
  float: left;
  margin: 10px;
  padding: 10px;
  min-width: 450px;
  width: 650px;
  height: 700px;
  background-color: #FFFFFF;
}



.after{
 clear:both;
}

/************************** モーダルウィンドウ  **************************/


/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
}

/* オーバーレイのスタイル */
.overLay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(200,200,200,0.7);
  width:100%;
  height:100vh;
  z-index:10;
}

/* モーダルウィンドウの中身のスタイル */
.modal .inner {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  position:fixed;
  z-index:11;
  top:50%;
  left:50%;
  width: 900px;
  height: 600px;
  transform:translate(-50%,-50%);
}

.edit_area {
  width: 870px;
  height: 270px;
  background-color: #FFE0E0;
}

.detail_header {
  width: 100%;
}
.detail_header a:link { color: #FFFFFF; text-decoration: none; }
.detail_header a:visited { color: #FFFFFF; text-decoration: none; }
.detail_header a:hover { color: #F8E8E8; text-decoration: none; }
.detail_header a:active { color: #ff8000; text-decoration: none; }

/************************** ボタン用のアイコン  **************************/
.btn-icon {
  display: inline-block;
  width: 160px;
  height: 60px;
  max-width: 180px;
  text-align: center;
  line-height: 60px;
  background-color: var(--main-color);
  font-size: 28px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  position: relative;
}

.btn-icon:before {
  font-family: "FontAwesome";
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.btn-icon:hover {
  opacity: 0.8;
}

.btn-icon:link { color: #FFFFFF; text-decoration: none; }
.btn-icon:visited { color: #FFFFFF; text-decoration: none; }
.btn-icon:hover { color: #F8E8E8; text-decoration: none; }
.btn-icon:active { color: #ff8000; text-decoration: none; }


/* インジケータを背景に表示。サイズを100%にすることでモーダルになる。 */
/* 背景色と透過率は好みで */
#loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f9;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
  background-image: url('../assets/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: none;
}



/************************** 本文ボタン用のアイコン  **************************/


.body-button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 13px 13px;   /* 余白       */
    background    : #16a085;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #16a085;    /* 枠の指定 */
  }
  .body-button:hover {
    color         : #16a085;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }



  .flex{
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    );
  }
  .flex > *{
    width: 30%;
    text-align: center;
  }
  .flex,
  .flex > *{
  }
