/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body{
 	margin: 20px;					/* bodyの外側の余白を指定する */
 	padding: 50px 10px 50px 10px;	/* bodyの内側余白を指定する(上:右:下:左) */
  font-family: 'メイリオ';
  background-color: #f5f5f5;
 }
 .Header {
 	position: fixed;	/* ヘッダーを固定する */
 	top: 0;				/* 上部から配置の基準位置を決める */
 	left: 0;			/* 左から配置の基準位置を決める */
 	width: 100%;		/* ヘッダーの横幅を指定する */
 	height: 70px;		/* ヘッダーの高さを指定する */
 	padding: 0px;		/* ヘッダーの余白を指定する(上下左右) */
 	background-color: #660000;	/* ヘッダーの背景色を指定する */
 	color: #FFFFFF;		/* フォントの色を指定する */
 }

 a:link { color: #AA0000; text-decoration: none; }
 a:visited { color: #AA0000; text-decoration: none; }
 a:hover { color: #DD0000; text-decoration: none; }
 a:active { color: #ff8000; text-decoration: none; }

 .Header a:link { color: #FFFFFF; text-decoration: none; }
 .Header a:visited { color: #FFFFFF; text-decoration: none; }
 .Header a:hover { color: #F8E8E8; text-decoration: none; }
 .Header a:active { color: #ff8000; text-decoration: none; }


 .Contents {
 	width: 100%;		/* コンテンツの横幅を指定する */
 	overflow: auto; 	/* コンテンツの表示を自動に設定（スクロール） */
 }

.header_left {
  font-size: 200%;
  padding: 10px;
  float: left;
}

.header_right {
  padding: 10px;
  text-align: right;
  float: right;
  /*padding: 5px;*/
}

.mypage_calender table,td,th {
  border: 1px #AAAAAA solid;
}

.mypage_calender th {
  width:85px;
  min-width: 50px;
}
.mypage_calender td {
  height: 80px;
  min-height: 50px;
  vertical-align: top;
}

div.message {
  float: left;
}
.message {
    position: relative;
}
.message span.remark {
    display: none;
}
.message a:hover span.remark {
    font-size: 100%;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 5px; /* def:50px */
    left : -5px;
    width: 450px;
}
/************************** ボタン用のアイコン  **************************/
.btn-icon {
  display: inline-block;
  width: 160px;
  height: 60px;
  max-width: 180px;
  text-align: center;
  line-height: 60px;
  background-color: #660000;
  font-size: 28px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  position: relative;
}

.btn-icon:before {
  font-family: "FontAwesome";
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.btn-icon:hover {
  opacity: 0.8;
}

.btn-icon:link { color: #FFFFFF; text-decoration: none; }
.btn-icon:visited { color: #FFFFFF; text-decoration: none; }
.btn-icon:hover { color: #F8E8E8; text-decoration: none; }
.btn-icon:active { color: #ff8000; text-decoration: none; }
