<% if who != 0 %>
<%= form_with url: mypage_redraw_history_path, :class => "ajax_on", remote: true do |f| %>
  <div class="flex">
      <%= f.submit "#{@users.user_name}", name: "myself", :class => "body-button timeline-myself" %>
      <%= f.submit "最新", name: "everyone", :class => "body-button timeline-everyone", :disabled => "disabled" %>
  </div>
  <% end %>
<% end %>
<hr />
<div id="history">
  <%= render :partial => "/mypage/histories_inner", :locals => { local_histories: local_histories } %>
</div>
<hr />
