<div class="update_form">
  <h2>今日の実績を共有しよう！</h2>
  <hr />
    <%= render :partial => "/common/make_history", :locals => { local_make_histories: @histories, local_path: mypage_create_path } %>
  </div>
</div>

<div class="mypage_calender_box">
  <div class="mypage_calender" id="mypage_calender">
    <%= render :partial => "redraw", :locals => { local_histories: @my_hisories } %>
  </div>
</div>


<div id="history_box">
    <%= render :partial => "histories", :locals => { local_histories: @everyone_hisories, who: @who } %>
</div>

<div class="after_float"></div>
