$("#detail_history_modal_content_dummy_" + <%= @return_history.id %>)
  .html("<div class='detail_history_modal_content'><%= escape_javascript(simple_format(@return_history.content))%></div>");

  if (!<%= @is_cancel %> ) {
    alert("学習内容を変更しました！");
  }
